*{
    background-color:#FAFAFA;
    padding: 0;
    margin: 0;
}

.cabecalho{
    padding: 20px;
    position: relative;
    display: inline-block;
}

.menu{
    padding: 20px;
    display: inline-block;
}

/* colocando stilo no botão features */
.dd_features {
    background-color: #FAFAFA;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

/* escondendo o conteúdo do menu */
  .dd_features_content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dd_features_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* mostrando o conteúdo menu dropdown */
  .cabecalho:hover .dd_features_content {display: block;}
