*{
    background-color:#FAFAFA;
    padding: 0;
    margin: 0;
}

.cabecalho{
    padding: 20px;
}

.menu{
    padding: 20px;
    display: inline-block;
}

/* colocando stilo no botão features */
.dd_features {
    background-color: #FAFAFA;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

