*{
    background-color:#FAFAFA;
    padding: 0;
    margin: 0;
}

.cabecalho{
    padding: 20px;
    position: relative;
    display: inline-block;
}

.feature{
    padding: 20px;
    display: inline-block;
}

.company{
    padding: 20px;
    display: inline-block;
}

/* colocando stilo no botão features */
.features {
    background-color: #FAFAFA;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  /* fazendo para o menu company */ 

.company {
    background-color: #FAFAFA;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.btcareers{
    background-color: #FAFAFA;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.btabout{
    background-color: #FAFAFA;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* escondendo o conteúdo do menu */
  .dd_features_content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* escondendo o conteúdo do menu campany */
  .dd_company_content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /*conteúdo do menu feature */

  .dd_features_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* conteúdo do menu company */

  .dd_company_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* mostrando o conteúdo menu dropdown */
  .feature:hover .dd_features_content {display: block;}
  .company:hover .dd_company_content {display: block;}

.btrigt{
    display: inline-block;
    text-align: right;
}

